* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root {
    --main-color: #da8113;
    --text-color: #735618;
    --other-color: #1f100a3f;
    --second-color: #d5640d;
    --bg-color: #ffffff;

    --big-fonts: 4.5rem;
    --h2-fonts: 2.6rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 15px;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
}

.logo i {
    vertical-align: middle;
    margin-right: 8px;
    color: var(--second-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 15px;
    transition: all .05s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a:active {
    color: var(--main-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
}

.nav-icons i {
    vertical-align: middle;
    font-size: 25px;
    color: var(--bg-color);
    margin: 8px;
    margin-left: 5px;
    transition: all .05s ease;
}

#menu-icon {
    font-size: 32px;
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.nav-icons i:hover {
    transform: scale(1.1);
    color: var(--text-color);
}

.navlist li {
    float: left;
    list-style: none;
    position: relative;
}

.navlist li a {
    text-decoration: none;
    font-family: sans-serif;
    color: var(--text-color);
    font-size: 17px;
    padding: 7px;
    display: block;
}

.navlist li ul {
    position: absolute;
    display: none;
    background-color: var(--bg-color);
    border-radius: 0px 0px 5px 5px;
}

.navlist li:hover ul {
    display: block;
}

.navlist li ul li {
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}

.navlist li ul li a {
    padding: 0;
}

.navlist li ul li a:hover {
    color: var(--main-color);
    cursor: pointer;

}

section {
    padding: 70px 14% 60px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-img {
    width: 100%;
    height: auto;
}

.home-text h1 {
    font-size: var(--big-fonts);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 3rem;
}

span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all .50s ease;
}

.btn i {
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px;
}

.btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #000000 0px 1px 25px;
}

header.sticky {
    padding: 12px 14%;
    background: var(--other-color);
}

.container {
    padding: 40px 6% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px auto));
    text-align: center;
}

.first-img {
    padding: 10px 50px 20px;
    background: var(--bg-color);
    border-radius: 3rem;
    transform: translate(-50% -50%);

}

.first-img img {
    height: auto;
}

.second-img {
    padding: 43px 43px 43px 43px;
    background: var(--bg-color);
    border-radius: 3rem;

}

.second-img img {
    height: auto;
}

.second-img h1 {
    font-size: var(--big-fonts);
    font-weight: 400;
    line-height: 1;
    margin-bottom: 3rem;
}

.third-img {
    padding: 43px 43px 43px 43px;
    background: var(--bg-color);
    border-radius: 3rem;
}

.third-img h1 {
    font-size: var(--big-fonts);
    font-weight: 400;
    line-height: 1;
    margin-bottom: 3rem;
}

.all-btn {
    display: inline-block;
    padding: 15px 35px;
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all .50s ease;
}

.btn1 {
    display: inline-block;
    padding: 15px 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .50s ease;
}

.btn1:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #a78c1f 0px 1px 25px;
}

.table {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.TrademarkeRegistration {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: min(1600px, 100%);
}

.table .TrademarkeRegistration {
    flex: 1;
    max-width: 355px;
    border: 1px solid var(--text-color);
    margin: 20px 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: .3s linear;
}

.table .TrademarkeRegistration h2 {
    color: var(--text-color);
    display: inline-block;
    padding: 40px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.table .TrademarkeRegistration .price {
    display: block;
    text-align: center;
    padding: 60px 100px;
    background-color: var(--other-color);
    transition: all 0.6s;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 100%);
}

.table .TrademarkeRegistration .price .start {
    display: grid;
    font-size: 28px;
    font-weight: 400;

}

.table .TrademarkeRegistration .price .currency {

    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;

}

.table .TrademarkeRegistration .price .money {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;

}

.table .TrademarkeRegistration .price .Inclusive {
    display: grid;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
}

.table .TrademarkeRegistration ul li {
    padding: 15px 45px;
    color: var(--text-color);
    border-radius: 1px solid var(--other-color);
    color: var(--text-color);
}

.table .header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.table .header-btn a {
    border: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid var(--other-color);
    color: var(--main-color);
    margin: 14px;
}

.table .header-btn a:hover {
    background: var(--other-color);

}

.work {
    padding: 40px 6% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px auto));
    text-align: center;
}

.work h4 {
    font-size: var(--big-fonts);
    font-weight: 400;
    line-height: 1;
    margin-bottom: 3rem;
}

.work img {
    height: auto;
}

.work img:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #000000 0px 1px 25px;
}

footer {
    position: absolute;
    width: 100%;
    height: 50px 100px;
    background:var(--main-color);
    
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h3{
    font-size: var(--p-font);
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
}
p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 13px;
    color: var(--text-color);

}
.footer-col input{
    border: none;
    width: 350px;
    height: 45px;
display: block;
padding-right: 20px;
margin: 14px 100px;
}
footer .container{
    background-color: var(--main-color);
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.footer-col ul{
    list-style: none;
}
.footer-col h4{
    color: white;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: 'Poppins',sans-serif;
}
.footer-col h4::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #e91e64;
    bottom: -10px;
}
.footer-col ul li{
    padding: 10px 0;
}
.footer-col ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-col ul li a:hover{
    opacity: 1;
}
.footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}
.footer-col .inputsubmit{
    padding: 0px 20px;
    background-color: #e91e64;
    border: none;
    color: white;
}
.container .info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}